# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
appsettings*.json
!**/appsettings.example.json
!configs/appsettings*.json
.DS_Store
out
.editorconfig
**/.env

# Build results.
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
Properties/
publish/

# Visual Studio cache/options directory
.vs/
.vscode/
.idea/

# React
# 📌 Папки зависимостей и сборки
node_modules/
dist/
build/
# 📌 Файлы кеша и менеджеров пакетов
.npm/
.yarn/
.pnp.*
# 📌 Логи и отладочные файлы
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

volumes/
